<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show {{ show.id }}</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <form action="{% url 'update' show.id %}" method="POST">
                {% csrf_token %}
                <h1>Edit Show {{ show.id }}</h1>
                <label for="title">Title: </label>
                <input type="text" id="title" name="title" value="{{ show.title }}">

                <label for="network">Network:</label>
                <input type="text" id="network" name="network" value="{{ show.network }}">

                <label for="release_date">Release Date:</label>
                <input type="date" id="release_date" name="release_date" value="{{ show.release_date }}">

                <label for="description">Description: </label>
                <textarea id="description" name="description" value="{{ show.description }}"></textarea>
                
                <button type="submit">Update</button>
            </form>
        </div>
        <div class="right_nav">
            <a href="/shows">Go Back</a>
        </div>
    </div>
</body>
</html>