<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi-Restful TV Shows</title>
</head>
<body>
    <div class="wrapper">
        <h1>Hello World!</h1>
        <table>
            <th>
                <td>ID</td>
                <td>Title</td>
                <td>Network</td>
                <td>Release Date</td>
                <td>Actions</td>
            </th>
        </table>

    </div>
</body>
</html>