* {
    outline: 1px gray solid;
}

.wrapper {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    
}

.table-scroll-control {
    height: 150px;
    overflow-y: scroll;
}

.table-scroll-control > table {
    width: 500px;
    margin: 0 auto;
}

.container {
    width: 500px;
    margin: 0 auto;
}

form > button {
    display: block;
    margin: 0 auto;
}
