<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='wrapper'>
        <div class='totals'>
            <h3>Gold Owned: $</h3>
            <input type='text' name='gold' id='#' value={{ request.session.owned_gold }}>
        </div>

        <div class='container'>
            <form action='/process_money' method='POST'>
                {% csrf_token %}
                <h1>Farm</h1>
                <p>(Earns 10-20 gold)</p>
                <button type='submit'>Find Gold!</button>
                <input type='hidden' name='farm'>
            </form>

            <form action='/process_money' method='POST'>
                {% csrf_token %}
                <h1>Cave</h1>
                <p>(Earns 5-10 gold)</p>
                <button type='submit'>Find Gold!</button>
                <input type='hidden' name='cave'>
            </form>

            <form action='/process_money' method='POST'>
                {% csrf_token %}
                <h1>House</h1>
                <p>(Earns 2-5 gold)</p>
                <button type='submit'>Find Gold!</button>
                <input type='hidden' name='house'>
            </form>

            <form action='/process_money' method='POST'>
                {% csrf_token %}
                <h1>Casino</h1>
                <p>(Earns 10-20 gold)</p>
                <button type='submit'>Find Gold!</button>
                <input type='hidden' name='casino'>
            </form>
        </div>

        <h3>Activities:</h3>
        <textarea readonly>{% for time, log_entry in request.session.activities.items %}
{{ time }} - {{ log_entry}}{% endfor %}</textarea>
    </div>
</body>
</html>