
.wrapper {
    width: 50%;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.messages {
    padding-left: 20px;
}

.messages > li.error {
    color: red;
    list-style-type: none;
    margin: 0;
}

.messages > li.success {
    color: darkgreen;
    list-style-type: none;
    margin: 0
}

.message_wrapper {
    margin-top: 20px;
}

form > label {
    text-align: left;
    width: 40%;
}

form > h1 {
    text-align: center;
    margin-bottom: 20px;
}

form > button {
    margin-top: 20px;
}

