<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='wrapper'>
        <h1>Hello World! Dojo Survey</h1>

        <form action="/result" method="POST">
            <div class="container">
                <label for="name">Your Name: </label>
                <input type="text" id="name">
            </div>

            <div class="container">
                <label for="location">Dojo Location: </label>
                <select name="locations" id="location">
                    <option value="seattle">Seattle</option>
                    <option value="sanjose">San Jose</option>
                    <option value="newyork">New York</option>
                </select>
            </div>
            
            <div class="container">
                <label for="language">Favorite Language: </label>
                <select name="lang" id="language">
                    <option value="1">Python</option>
                    <option value="2">C++</option>
                    <option value="3">Java</option>
                </select>
            </div>
            
            <label for="desc">Description: </label>
            <textarea name="description" id="desc" cols="30" rows="6"></textarea>
        
            <button id="submit">Submit</button>
        </form>
    </div>  

    
</body>
</html>