<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registion to Nowhere!</title>
    ​<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form action="register/" method="POST">
                {% csrf_token %}
                <h1>Registration</h1>
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" placeholder="At least 2 characters">
    
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" placeholder="At least 2 characters">
    
                <label for="reg_email">Email</label>
                <input type="email" id="reg_email" name="reg_email">
    
                <label for="reg_pw">Password</label>
                <input type="password" id="reg_pw" name="reg_pw">
    
                <label for="confirm_pw">Confirm Password</label>
                <input type="password" id="reg_confirm_pw" name="reg_confirm_pw">
    
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        
        <div class="container">
            <form action="login/" method="POST">
                {% csrf_token %}
                <h1>Login</h1>
                <label for="login_email">Email</label>
                <input type="text" id="login_email" name="login_email">
    
                <label for="login_pw">Password</label>
                <input type="password" id="login_pw" name="login_pw">
    
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>

        {% if messages %}
            <ul class="errors">
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
