<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for <strong>${{ order.total_price }}</strong></p>
    <p>You have ordered <strong>{{total_ordered }}</strong> items so far and spent <strong>${{net_spend }}</strong> with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>