<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number Generator Conter</title>
</head>
<body>
    <div class='wrapper'>
        <div id='content'>
            <p>Random Word (attempt {{ request.session.count }})</p>
            <h2>{{ request.session.random_word }}</h2>
            <form action='/random_word' method='GET'>
                <button type='submit'>Generate</button>
            </form>
        </div>
        
    </div>
</body>
</html>