
.wrapper {
    width: 50%;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}



.messages {
    padding-left: 20px;
}

.messages > li.error {
    color: red;
    list-style-type: none;
    margin: 0;
}

.messages > li.success {
    color: darkgreen;
    list-style-type: none;
    margin: 0
}

.message_wrapper {
    margin-top: 20px;
}

form > label {
    text-align: left;
    width: 40%;
}

form > h1 {
    text-align: center;
    margin-bottom: 20px;
}

form > button {
    margin-top: 20px;
}

/* Travel page styles */
.site_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2pt black solid;
}

.site_nav > p {
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.welcome {
    margin-right: 20px;
}

.welcome > p, .welcome > a {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.trip_content {
    padding-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.trip_content > p{
    margin-left: 10px;
    margin-bottom: 5px;
}

#add_form {
    width: 400px;
    margin-left: 210px;
    text-align: right;
    margin-top: 20px;
}